<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <!--<ion-button (click)="loadPhotos()">Cargar Fotos</ion-button> -->
  <ion-button expand="full" (click)="mostrarFotos()">
    {{ showPhotos ? 'Ocultar Fotos' : 'Cargar Fotos' }}
  </ion-button>
  <ion-grid *ngIf="showPhotos && photoService.photos.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <p style="text-align: center;">{{ photo.fileName }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text *ngIf="showPhotos && photoService.photos.length === 0">
    <p>No hay fotos guardadas</p>
  </ion-text>

</ion-content>
