<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <strong>{{ msg.user_email }}:</strong> {{ msg.text }}
      <br />
      <small>{{ msg.created_at | date: 'short' }}</small>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input
        placeholder="Escribe un mensaje"
        [(ngModel)]="newMessage"
      ></ion-input>
      <ion-button (click)="sendMessage()" [disabled]="!newMessage.trim()">
        Enviar
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>


<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>



