<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Ubicación con Firebase</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating">Tu Nombre</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="getLocationAndSave()" [disabled]="isSaving">
      {{ isSaving ? 'Guardando...' : 'Guardar ubicación' }}
    </ion-button>

    <ion-button *ngIf="mapLink" expand="full" color="secondary" (click)="openMap()">
      Ver en Google Maps
    </ion-button>
  </ion-content>
</ion-app>
